<%- include('header') -%>
	<div class="undirskriftarform">
		<h1 class="title">Undirskriftarlisti</h1>
		<form method="post" action="/">
			<div class="name form-group">
				<label for="name">Nafn</label>
				<input class="form-control " type="text" name="name"/>
			</div>
			<div class="nationalId form-group">
				<label for="nationalId">Kennitala</label>
				<input class="form-control <%= errors.param === 'nationalId' ? isInvalid : '' %>" type="text" name="nationalId"/>
			</div>
			<div class="comment form-group">
				<label for="comment">Athugasemd</label>
				<textarea class="form-control" type="text" name="comment"></textarea>
			</div>
			<div class="form-group">
				<label for="anonymous">Ekki birta nafn á lista</label>
				<input type="checkbox" name="anonymous" value="true"/>
			</div>
			<% if (errors.length > 0) { %>
			<div>
				<h3>Villur við undirskrift</h3>
				<ul>
					<% errors.forEach((err) => { %>
					<li><%= err.msg %></li>
					<% }); %>
				</ul>
			</div>
			<% } %>
			<button class="btn btn-primary">Skrifa undir</button>
		</form>
	</div><!-- undirskriftarform end -->
	<hr>
	<div class="undirskriftarlisti">
		<h1 class="title">Undirskriftir</div>
		<% if (signatures.length === 0) { %>
			<p>Engar undirskriftir</p>
		<% } else { %>
		<table class="table">
			<tr>
				<th>Dags</th>
				<th>Nafn</th>
				<th>Athugasemd</th>
			</tr>
			<% signatures.forEach((sign) => { %>
				<tr>
					<td><%= new Date(sign.signed).toLocaleString().split(',')[0] %></td>
					<td><%= sign.anonymous ? "" : sign.name %></td>
					<td><%= sign.comment %></td>
				</tr>
			<% }); %>
		</table>
		<% } %>
	</div>
<%- include('footer') -%>
