<%- include('header') -%>
	<div class="undirskriftarform">
		<h1 class="title">Undirskriftarlisti</h1>
		<form method="post" action="/">
			<div class="name">
				<label for="name">Nafn</label>
				<input type="text" name="name"/>
			</div>
			<div class="nationalId">
				<label for="nationalId">Kennitala</label>
				<input type="text" name="nationalId"/>
			</div>
			<div class="comment">
				<label for="comment">Athugasemd</label>
				<textarea type="text" name="comment"></textarea>
			</div>
			<div>
				<label for="anonymous">Ekki birta nafn รก lista</label>
				<input type="checkbox" name="anonymous" value="false"/>
			</div>
			<button>Skrifa undir</button>
		</form>
	</div><!-- undirskriftarform end -->
	<hr>
	<div class="undirskriftarlisti">
		<h1 class="title">Undirskriftir</div>
		<% if (signatures.length === 0) { %>
			<p>Engar undirskriftir</p>
		<% } else { %>
		<table>
			<tr>
				<th>Dags</th>
				<th>Nafn</th>
				<th>Athugasemd</th>
			</tr>
			<% signatures.forEach((sign) => { %>
				<tr>
					<td><%= sign.signed %></td>
					<td><%= sign.name %></td>
					<td><%= sign.comment %></td>
				</tr>
			<% }); %>
		</table>
		<% } %>
	</div>
<%- include('footer') -%>
